[Unit]
Description=Node App Service
After=network.target

[Service]
Type=simple
Environment=NODE_PORT_APP={{ item.split("@")[1] }}
WorkingDirectory=/home/{{ ansible_user }}/node_app
ExecStart=/usr/bin/node app.js 
StandardOutput=journal+console
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target